.container{
    width : 95%;
    margin: auto;
}

.mySwiper{
    width: auto;
    height: 400px;
}

.mySwiper img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: fill;
    overflow: inherit;
  }
  

  // @media (max-width: 768px) {
  //   .mySwiper {
  //     img {
  //       height: 250px;
  //     }
  //   }
  // }
  
  // // Mobile responsive
  // @media (max-width: 480px) {
  //   .mySwiper {
  //     img {
  //       height: 180px;
  //     }
  //   }
  // }